extends layout

block content
  h1= title
  p #{author} 发布于 #{postDate}
  div!= html
  if lastModified
    p 上次修改时间 #{lastModified}
  div(class='operation hidden')
    button(class='remove') 删除
    a(href='/edit/' + id) 编辑
