extends layout

block head
  link(rel='stylesheet', href='/public/reset.css')
  link(rel='stylesheet', href='/public/post.css')
  link(rel='stylesheet', href='/public/highlight.css')
  script(src="/public/highlight.js")
  script.
    window.postId = "#{id}"
    hljs.initHighlightingOnLoad()

block content
  div.page-container.post-page
    h2(class='title')= title
    p(class='post-date') 发布于 #{postDate}
    if labels && labels.length
      p(class='post-labels')
        each label in labels
          span ##{label}&nbsp;&nbsp;
    div(class='post-content')!= html
    if lastModified
      p(class='last-modified') 上次修改时间 #{lastModified}
    div(class='operation hidden')
      button(class='remove') 删除
      a(class='edit', href='/edit/' + id) 编辑
    | <div id="disqus_thread"></div>
    script.
      var disqus_config = function () {
        this.page.url = 'http://localhost:3000/posts/' + window.postId;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = window.postId; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://zangjiabin.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    | <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  script(src='/public/post.js')
